@model LectoresConGloria_MDL.Vistas.V_AsociacionDetalle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.Partial("_FormatoLibro", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Details", "Libro", new { id = Model.Derecha }, null)
        </div>
    }
</div>
