@model LectoresConGloria_MDL.Vistas.V_AsociacionDetalle

<div>
    <h4>Formato - Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Libro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerechaTexto)
        </dd>

        <dt>
            Formato
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IzquierdaTexto)
        </dd>

    </dl>
</div>
