@model LectoresConGloria_MDL.Vistas.V_AsociacionDetalle

<div>
    <h4>Texto - Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Texto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IzquierdaTexto)
        </dd>

        <dt>
            Categoría
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerechaTexto)
        </dd>

    </dl>
</div>
