@model IEnumerable<LectoresConGloria_MDL.Vistas.V_ListaRelacion>

<h3>
    Categorías por Texto
</h3>

<table class="table">
    <tr>
        <th>
            Categoría
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar Categoria", "Edit", "Categoria", new { id = item.IdForanea }, null) |
                @Html.ActionLink("Editar Relacion", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
